---
import FAQ_lines from "./Lines.astro";
import FAQ_lastQuestions from "./LastQuestions.astro";
---

<style>
    section {
        padding: 50px 80px;
        background-color: rgb(247, 247, 247);
        border-bottom: 2px solid #e8e8e8;
    }
    .FAQ_wrap-flex {
        display: flex;
        padding-bottom: 40px;
        justify-content: space-between;
    }
    @media (min-width: 0px) and (max-width: 1100px) {
        section {
            padding: 50px 40px;
        }
    }
    @media (min-width: 0px) and (max-width: 750px) {
        section {
            padding: 40px 20px;
        }
    }
</style>

<section>
    <div class="FAQ_wrap-flex">
        <div>
            <FAQ_lines
            titleMain="Ответы на все вопросы"
                titleQuestion="Подходит ли мое жилье для Airbnb?"
                textDrop="Гостей Airbnb интересует самое разное жилье. У нас есть микродома, деревянные дома, дома на дереве и многое другое. Отличным вариантом может быть и свободная комната."
            />
            <FAQ_lines
                titleQuestion="Обязательно ли принимать гостей постоянно?"
                textDrop="Совсем нет: какие даты сделать доступными в календаре, решаете только вы. Сдавать жилье можно и раз в год, и несколько раз в месяц, и намного чаще."
            />
            <FAQ_lines
                titleQuestion="Как часто нужно контактировать с гостями?"
                textDrop="Это решаете вы. Некоторые хозяева ограничиваются общением на важных этапах бронирования (например, по прибытии), другие с удовольствием встречают гостей сами. Постепенно вы узнаете, что подходит именно вам."
            />
            <FAQ_lines
                titleQuestion="Что бы вы мне посоветовали, чтобы достичь успеха?"
                textDrop="Важно усвоить базовые правила. Поддерживайте чистоту и оперативно отвечайте гостям. Позаботьтесь о необходимых удобствах, например свежих полотенцах. Некоторые хозяева практикуют более индивидуальный подход: ставят свежие цветы или советуют, какие достопримечательности стоит посетить. Однако это необязательно."
                textLink="Подробнее о приеме гостей"
            />
            <FAQ_lines
                titleQuestion="Какие сборы взимает Airbnb?"
                textDrop="Сервисный сбор Airbnb, как правило, фиксированный и составляет 3% от подытога бронирования. Он взимается при получении выплаты. Гости при оформлении бронирования тоже уплачивают сбор. Во многих регионах компания Airbnb автоматически собирает и перечисляет налог с продаж и туристические налоги от лица хозяев."
                textLink="Подробнее"
            />
        </div>
    </div>
    <FAQ_lastQuestions />
</section>
