<style>
    .FAQ_wrap-flex {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        column-gap: 80px;
    }
    .FAQ_wrap-right-side {
        display: inline;
    }
    .FAQ_img-1200px-750px {
        width: 470px;
    }
    .FAQ_img-1100px {
        display: none;
    }
    .FAQ_title {
        font-size: 2rem;
        margin: 0;
        font-weight: 400;
        letter-spacing: 1px;
    }
    .FAQ_text {
        margin: 0;
        padding-top: 15px;
        line-height: 1.5rem;
        padding-bottom: 35px;
        color: #858585;
        font-weight: lighter;
        letter-spacing: 1px;
    }
    .FAQ_more {
        color: black;
        text-decoration: none;
        background: white;
        border: 1px solid black;
        padding: 10px 15px;
        border-radius: 10px;
    }
    .FAQ_more:hover {
        background: rgb(234, 233, 233);
    }
    @media (min-width: 0px) and (max-width: 1100px) {
        .FAQ_wrap-flex {
            column-gap: 40px;
        }
        .FAQ_img-1200px-750px {
            display: none;
        }
        .FAQ_img-1100px {
            display: block;
            width: 350px;
        }
        .FAQ_title {
        font-size: 1.8rem;
        margin: 0;
    }
    }
    @media (min-width: 0px) and (max-width: 750px) {
        .FAQ_img-1100px {
            display: none;
        }
        .FAQ_img-1200px-750px {
            display: block;
            width: 100%;
        }
        .FAQ_wrap-flex {
            display: block;
        }
        .FAQ_wrap-right-side {
            display: block;
            padding: 30px;
        }
        .FAQ_text {
        font-size: 1.2rem;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 30px;
        line-height: 1.5rem;
        color: #858585;
    }
    }
</style>

<div class="FAQ_wrap-flex">
    <img
        class="FAQ_img-1200px-750px"
        src="./lastQuestions_narrow.webp"
        alt="Остались вопросы?"
    />
    <img
        class="FAQ_img-1100px"
        src="./lastQuestions.webp"
        alt="Остались вопросы?"
    />

    <div class="FAQ_wrap-right-side">
        <h3 class="FAQ_title">Остались вопросы?</h3>
        <p class="FAQ_text">Посоветуйтесь с суперхозяином, живущим поблизости.</p>
        <a class="FAQ_more" href="*">Поиск наставника</a>
    </div>
</div>
