---
import { Props } from "astro";
const { titleMain = "", titleQuestion = "", textDrop = "", textLink = "" } = Astro.props as Props;
---

<script>
    const symbol = document.getElementById("FAQ_symbol");
    const pDrop = document.querySelectorAll(".FAQ_text-drop");
    const wrapLines = document.querySelectorAll(".FAQ_wrap-line");

    wrapLines.forEach((wrapLine) => {
        const pDrop = wrapLine.querySelector(".FAQ_text-drop");
        wrapLine.addEventListener("click", function() {
            this.getElementsByClassName('FAQ_symbol')[0].classList.toggle('FAQ_symbol-scale')
            pDrop.classList.toggle("FAQ_text-open");
            pDrop.classList.toggle("FAQ_text-close");
        });
    });
</script>

<style>
    .FAQ_title-main {
        font-size: 2.3rem;
        width: 230px;
        font-weight: 400;
    }
    .FAQ_wrap-line {
        border-bottom: 2px solid #e8e8e8;
        padding: 20px 0 30px 0;
    }
    .FAQ_wrap-flex.main {
        column-gap: 300px;
    }
    .FAQ_wrap-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }
    .FAQ_title-question {
        margin: 0;
        font-size: 1.6rem;
        font-weight: normal;
        font-weight: 200;
    }
    .FAQ_symbol {
        width: 15px;
    }
    .FAQ_symbol-scale {
        transform: scaleY(-1);
    }
    .FAQ_text-drop {
        display: none;
        font-size: 1.3rem;
        margin: 0;
        line-height: 1.5rem;
        color: #858585;
        overflow: hidden;
        font-weight: lighter;
        letter-spacing: 1px;
    }
    .FAQ_text-open {
        display: block;
        max-height: 300px;
        animation: open 1s ease;
    }
    .FAQ_text-close {
        display: block;
        max-height: 0;
        animation: close 1s ease;
    }

    @keyframes open {
        0% {
            max-height: 0;
            opacity: 0;
        }
        100% {
            max-height: 300px;
            opacity: 1;
        }
    }
    @keyframes close {
        0% {
            max-height: 300px;
            opacity: 1;
        }
        100% {
            max-height: 0;
            opacity: 0;
        }
    }
    .FAQ_link {
        color: black;
    }
    @media (min-width: 0px) and (max-width: 1100px) {
        .FAQ_wrap-flex.main {
            display: block;
            column-gap: 0;
        }
        .FAQ_wrap-line {
            padding: 0px 0 20px 0;
        }
        .FAQ_title-question {
            font-size: 1.4rem;
        }
        .FAQ_text-drop{
            font-size: 1.2rem;
        }
    }
    @media (min-width: 0px) and (max-width: 750px) {
        .FAQ_title-main {
        font-size: 1.5rem;
    }
        .FAQ_wrap-line {
            padding: 0px 0 10px 0;
        }
        .FAQ_title-question {
            font-size: 1.05rem;
        }
        .FAQ_text-drop{
            font-size: 0.9rem;
            line-height: 1.3rem;
        }
    }
</style>

<div class="FAQ_wrap-flex main">
    <div><h2 class="FAQ_title-main">{titleMain}</h2></div>

    <div>
        <div class="FAQ_wrap-line" id="FAQ_wrap-line">
            <div class="FAQ_wrap-flex">
                <h3 class="FAQ_title-question">{titleQuestion}</h3>
                <img class="FAQ_symbol" src="symbol.svg" alt="symbol" id="FAQ_symbol" />
            </div>
            <p class="FAQ_text-drop FAQ_text-close" id="FAQ_text-drop">
                {textDrop}
                <a class="FAQ_link" href="*"> <br />{textLink}</a>
            </p>
        </div>
    </div>
</div>
