---
import CheckAndCross_lines from "./CheckAndCross_lines.astro";
import ButtonMore from "./ButtonMore.astro";
---

<style>
    main {
        padding: 0 160px;
    }

    .img_media_1200px {
        width: 170px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .img_media_1100px {
        display: none;
    }
    h2 {
        font-size: 2.3rem;
        text-align: center;
    }
    .wrapFlex_h3 {
        display: flex;
        justify-content: flex-end;
    }
    h3 {
        display: inline;
        font-size: 1.3rem;
        padding: 0 25px;
    }
    p {
        font-size: 1.2rem;
        color: #858585;
    }
    a {
        color: black;
    }
    .wrapFlex_h3 {
        border-bottom: 2px solid #adadad;
    }
    @media (min-width: 0px) and (max-width: 1100px) {
        main {
            padding: 0 40px;
        }
        .img_media_1200px {
            display: none;
        }
        .img_media_1100px {
            display: block;
            width: 170px;
        }
        h2 {
            text-align: left;
        }
        p {
            font-size: 1rem;
            color: #858585;
            padding-bottom: 20px;
        }
        h3 {
        padding: 0 15px;
    }
    }
    @media (min-width: 0px) and (max-width: 700px) {
        h3 {
        padding: 0 5px;
    }
    }
</style>

<main>
    <img
        class="img_media_1200px"
        src="../aircover_center.webp"
        alt="aircover"
    />
    <img class="img_media_1100px" src="../aircover.webp" alt="aircover" />
    <h2>Запустите свой Airbnb с полной защитой</h2>
    <div class="wrapFlex_h3">
        <h3>Airbnb</h3>
        <h3>Конкуренты</h3>
    </div>

    <CheckAndCross_lines
        textH4="Подтверждение личности гостя"
        textP="Когда гость оформляет бронирование, система проверяет его имя, адрес, удостоверение личности государственного образца и не только."
        imgSrcOption1="../Check.png"
        imgSrcOption2="../Check.png"
        imgAltOption1="Галочка"
        imgAltOption2="Галочка"
    />
    <CheckAndCross_lines
        textH4="Скрининг бронирований"
        textP="Наша технология анализирует сотни факторов и блокирует бронирования с высокой вероятностью проведения вечеринок и порчи имущества."
        imgSrcOption1="../Check.png"
        imgSrcOption2="../Cross.png"
        imgAltOption1="Галочка"
        imgAltOption2="Крест"
    />
    <CheckAndCross_lines
        textH4="Защита от ущерба на 3 млн $"
        textP="Airbnb возмещает ущерб, причиненный гостями вашему жилью и имуществу. Перечислим специальные меры защиты:"
        imgSrcOption1="../Check.png"
        imgSrcOption2="../Cross.png"
        imgAltOption1="Галочка"
        imgAltOption2="Крест"
    />
    <CheckAndCross_lines
        textH5="Предметы искусства и ценные вещи"
        textP=""
        imgSrcOption1="../Check.png"
        imgSrcOption2="../Cross.png"
        imgAltOption1="Галочка"
        imgAltOption2="Крест"
    />
    <CheckAndCross_lines
        textH5="Машины и лодки"
        textP=""
        imgSrcOption1="../Check.png"
        imgSrcOption2="../Cross.png"
        imgAltOption1="Галочка"
        imgAltOption2="Крест"
    />
    <CheckAndCross_lines
        textH5="Ущерб от питомцев"
        textP=""
        imgSrcOption1="../Check.png"
        imgSrcOption2="../Cross.png"
        imgAltOption1="Галочка"
        imgAltOption2="Крест"
    />
    <p>
        Сравнение выполнено на основе общедоступной информации и бесплатных
        объявлений конкурентов по состоянию на октябрь 2022 г. Подробная
        информация и исключения доступны <b> <a href="*">здесь</a></b>.
    </p>
    <ButtonMore />
</main>
