---
import FAQ_lines from "./FAQ_lines.astro";
import FAQ_lastQuestions from "./FAQ_lastQuestions.astro";
---

<style>
    main {
        padding: 50px 80px;
        background-color: rgb(247, 247, 247);
        border-bottom: 2px solid #e8e8e8;
    }
    .wrapFlex {
        display: flex;
        padding-bottom: 40px;
        justify-content: space-between;
    }
    @media (min-width: 0px) and (max-width: 1100px) {
        main {
        padding: 50px 30px;
    }
    }
</style>

<main>
    <div class="wrapFlex">
        <div>
            <FAQ_lines
                textH2="Ответы на все вопросы"
                textH3="Подходит ли мое жилье для Airbnb?"
                textP="Гостей Airbnb интересует самое разное жилье. У нас есть микродома, деревянные дома, дома на дереве и многое другое. Отличным вариантом может быть и свободная комната."
            />
            <FAQ_lines
                textH3="Обязательно ли принимать гостей постоянно?"
                textP="Совсем нет: какие даты сделать доступными в календаре, решаете только вы. Сдавать жилье можно и раз в год, и несколько раз в месяц, и намного чаще."
            />
            <FAQ_lines
                textH3="Как часто нужно контактировать с гостями?"
                textP="Это решаете вы. Некоторые хозяева ограничиваются общением на важных этапах бронирования (например, по прибытии), другие с удовольствием встречают гостей сами. Постепенно вы узнаете, что подходит именно вам."
            />
            <FAQ_lines
                textH3="Что бы вы мне посоветовали, чтобы достичь успеха?"
                textP="Важно усвоить базовые правила. Поддерживайте чистоту и оперативно отвечайте гостям. Позаботьтесь о необходимых удобствах, например свежих полотенцах. Некоторые хозяева практикуют более индивидуальный подход: ставят свежие цветы или советуют, какие достопримечательности стоит посетить. Однако это необязательно."
                textA="Подробнее о приеме гостей"
            />
            <FAQ_lines
                textH3="Какие сборы взимает Airbnb?"
                textP="Сервисный сбор Airbnb, как правило, фиксированный и составляет 3% от подытога бронирования. Он взимается при получении выплаты. Гости при оформлении бронирования тоже уплачивают сбор. Во многих регионах компания Airbnb автоматически собирает и перечисляет налог с продаж и туристические налоги от лица хозяев."
                textA="Подробнее"
            />
        </div>
    </div>
    <FAQ_lastQuestions />
</main>
