<style>
    .wrapFlex {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        column-gap: 80px;
    }
    .wrapRight {
        display: inline;
    }
    .img_media_1200px {
        width: 470px;
    }
    .img_media_1100px {
        display: none;
    }
    .img_media_750px {
        display: none;
    }
    h3 {
        font-size: 2rem;
        margin: 0;
    }
    p {
        font-size: 1.3rem;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 35px;
        line-height: 1.5rem;
        color: #858585;
    }
    .more {
        color: black;
        text-decoration: none;
        background: white;
        border: 1px solid black;
        padding: 10px 15px;
        border-radius: 10px;
    }
    .more:hover {
        background: rgb(234, 233, 233);
    }
    @media (min-width: 0px) and (max-width: 1100px) {
        .wrapFlex {
            column-gap: 40px;
        }
        .img_media_1200px {
            display: none;
        }
        .img_media_1100px {
            display: block;
            width: 350px;
        }
    }
    @media (min-width: 0px) and (max-width: 750px) {
        .img_media_1100px {
            display: none;
        }
        .img_media_750px {
            display: block;
            width: 100%;
        }
        .wrapFlex {
            display: block;
        }
        .wrapRight {
            display: block;
            padding: 30px;
        }
    }
</style>

<div class="wrapFlex">
    <img
        class="img_media_1200px"
        src="./lastQuestions_narrow.webp"
        alt="Остались вопросы?"
    />
    <img
        class="img_media_1100px"
        src="./lastQuestions.webp"
        alt="Остались вопросы?"
    />
    <img
        class="img_media_750px"
        src="./lastQuestions-mobile.webp"
        alt="Остались вопросы?"
    />
    <div class="wrapRight">
        <h3>Остались вопросы?</h3>
        <p>Посоветуйтесь с суперхозяином, живущим поблизости.</p>
        <a class="more" href="*">Поиск наставника</a>
    </div>
</div>
