<style>
     .header_wrapFlex {
        position: sticky;
        top: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 35px;
        background-color: white;
    } 
     .header_image{
        width: 30px;
        height: 30px;
    }
    .header_question {
        display: inline;
        padding-right: 20px;
        font-weight: 400;
    } 
     .header_button {
        font-size: 1.3rem;
        text-decoration: none;
        color: white;
        background: linear-gradient(
            to bottom right,
            rgb(230, 56, 79),
            rgb(217, 56, 103)
        );
        padding: 10px 20px;
        border-radius: 7px;
        border: none;
    } 
    @media (min-width: 0px) and (max-width: 750px) {
         .header_wrapFlex {
            position: static;
            padding: 0;
        } 
         .header_upperPartContainer {
            width: 100%;
            position: fixed;
            left: 0px;
            top: 0px;
            padding: 10px 10px;
            background-color: white; 
        } 
        .header_lowerPartContainer {
            width: 100%;
            position: fixed;
            bottom: 0;
            background-color: white;
            padding: 0 20px 10px 20px;
            box-sizing: border-box;
        }
        .header_question {
            display: block;
            text-align: center;
            margin: 0;
            padding: 10px;
            font-weight: 400;
            letter-spacing: 0.5px;
        }
        .header_button {
            width: 100%;
            display: block;
            margin: 0;
            text-align: center;
        }
    }
</style>
<header class="header_wrapFlex">
    <div class="header_upperPartContainer">
         <img class="header_image" src="airbnb_sign.png" alt="значoк airbnb" /> 
    </div>
    <div class="header_lowerPartContainer">
        <div>
            <h4 class="header_question">Готовы запустить свой Airbnb?</h4>
            <button class="header_button" href="*">Airbnb Старт</button>
        </div>
    </div>
</header>
