---
import ButtonMore from "./Miscellanea /ButtonMore.astro";
---

<style>
    section {
        padding: 20px 150px;
    }
    .HousesPartners_title {
        font-size: 2.8rem;
        text-align: center;
        font-weight: 400;
    }

    .HousesPartners_wrap-flex {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
    .HousesPartners_wrap_card {
        display: inline;
    }
    .HousesPartners_image {
        width: 100%;
        border-radius: 10px;
    }
    .HousesPartners_text-small {
        font-size: 0.8rem;
        margin: 0;
        text-align: center;
        letter-spacing: 0.5px;
        line-height: 0.8rem;
        padding-top: 10px;
        font-weight: lighter;
    }
    .HousesPartners_text-big {
        font-size: 1.5rem;
        margin: 0;
        padding: 40px 0 0 0;
        text-align: center;
        line-height: 1.8rem;
        font-weight: lighter;
        letter-spacing: 1px;
    }
    @media (min-width: 0px) and (max-width: 1100px) {
        section {
            padding: 80px 40px;
        }
        .HousesPartners_title {font-size: 2.5rem;
            text-align: left;
        }
        .HousesPartners_text-big {
            text-align: left;
            padding-bottom: 40px;
        }
    }
    @media (min-width: 0px) and (max-width: 750px) {
        section {
            padding: 50px 20px;
        }
        .HousesPartners_title {
        font-size: 2rem;
    }
        .HousesPartners_text-big {
            font-size: 1.2rem;
            line-height: 1.4rem;
        }
    }
</style>

<section>
    <h2 class="HousesPartners_title">Дома — партнеры Airbnb</h2>
    <div class="HousesPartners_wrap-flex">
        <div class="HousesPartners_wrap_card">
            <img class="HousesPartners_image" src="flat1.webp" alt="квартира" />
            <p class="HousesPartners_text-small">
                <b>Квартиры в жилом комплексе Park 12</b>
                <br /> Сан-Диего (Калифорния)
            </p>
        </div>
        <div class="HousesPartners_wrap_card">
            <img class="HousesPartners_image" src="flat2.webp" alt="квартира" />
            <p class="HousesPartners_text-small">
                <b>Old Town Apartments</b>
                <br />Скоттсдейл (Аризона)
            </p>
        </div>
        <div class="HousesPartners_wrap_card">
            <img class="HousesPartners_image" src="flat3.webp" alt="квартира" />
            <p class="HousesPartners_text-small">
                <b>525 Olive Apartments</b>
                <br /> Сан-Диего (Калифорния)
            </p>
        </div>
    </div>
    <p class="HousesPartners_text-big">
        Мы сотрудничаем с многоквартирными комплексами повсюду в США. Здесь
        можно снимать жилье постоянно и сдавать его на короткий срок на Airbnb.
        Узнайте подробности и сколько можете зарабатывать.
    </p>
    <ButtonMore />
</section>
