<style>
    section {
        padding: 0 90px 100px 90px;
        overflow: hidden;
    }
    .withoutEffort_title-main {
        font-size: 2.3rem;
        text-align: center;
        font-weight: 400;
    }
    .withoutEffort_img {
        width: 100%;
        object-fit: cover;
    }

    .withoutEffort_wrap-flex {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .withoutEffort_wrap-title-and-text {
        display: inline;
    }
    .withoutEffort_title {
        margin: 0;
        padding: 40px 0 10px;
        font-weight: 400;
    }
    .withoutEffort_text {
        margin: 0;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 1px;
        color: #858585;
        font-weight:lighter;
    }
    @media (min-width: 0px) and (max-width: 1100px) {
        section {
            padding: 10px 40px 50px 40px;
        }
        .withoutEffort_wrap-flex {
            display: block;
        }
        .withoutEffort_title-main {
            font-size: 2.3rem;
            text-align: left;
        }
    }
    @media (min-width: 0px) and (max-width: 700px) {
        section {
            padding: 30px 25px 50px 25px;
        }
        .withoutEffort_title-main {
            font-size: 1.8rem;
            text-align: left;
        }
        .withoutEffort_img {
            width: 245%;
            object-fit: cover;
            margin-left: -73%;
        }
    }
</style>

<section>
    <h2 class="withoutEffort_title-main">Запуститесь без труда с «Airbnb Старт»</h2>

    <img
        class="withoutEffort_img"
        src="withoutEffort.webp"
        alt="withoutEffort"
    />
    <div class="withoutEffort_wrap-flex">
        <div class="withoutEffort_wrap-title-and-text">
            <h3 class="withoutEffort_title">Советы персонального наставника</h3>
            <p class="withoutEffort_text">
                Мы познакомим вас с суперхозяином, живущим в вашем регионе, и он
                ответит на все вопросы, серьезные и не очень. Вы можете общаться
                в чате и созваниваться — по телефону или с видео.
            </p>
        </div>
        <div class="withoutEffort_wrap-title-and-text">
            <h3 class="withoutEffort_title">
                Первое бронирование — от опытного путешественника
            </h3>
            <p class="withoutEffort_text">
                Если захотите, первое бронирование сможет оформить только гость,
                у которого в истории как минимум три поездки и хорошая репутация
                на Airbnb.
            </p>
        </div>
        <div class="withoutEffort_wrap-title-and-text">
            <h3 class="withoutEffort_title">
                Специализированная помощь от Airbnb
            </h3>
            <p class="withoutEffort_text">
                Новички одним касанием могут связаться с сотрудниками поддержки,
                которые умеют решать любые проблемы: хоть с аккаунтом, хоть с
                выставлением счета.
            </p>
        </div>
    </div>
</section>
