<style>
    .wrapFlex {
        display: flex;
        justify-content: space-between;
        column-gap: 50px;
        align-items: flex-start;
    }
    .wrapGrid {
        display: grid;
        row-gap: 18px;
    }

    h4 {
        margin: 10px 0 5px 0;
    }
    a {
        display: block;
        color: #414141;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    @media (min-width: 731px) and (max-width: 1100px) {
        .wrapFlex {
            display: block;
        }
        .wrapGrid {
            display: grid;
            grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
            gap: 0 30px;
            border-bottom: 2px solid #e8e8e8;
            height: 140px;
        }
        .wrap_h4 {
            grid-column: 1 / span 3;
        }
    }

    @media (min-width: 0px) and (max-width: 730px) {
        .wrapFlex {
            display: block;
        }
        .wrapGrid {
            padding: 20px 0 20px 0;
            border-bottom: 2px solid #e8e8e8;
        }

    }
</style>

<div class="wrapFlex">
    <div class="wrapGrid">
        <div class="wrap_h4">
            <h4>Поддержка</h4>
        </div>
        <a href="*">Центр помощи</a>
        <a href="*">AirCover</a>
        <a href="*">Доступная среда</a>
        <a href="*">Отмена в период пандемии</a>
        <a href="*">Действия Airbnb во время пандемии</a>
        <a href="*">Сообщить о проблеме в районе</a>
    </div>
    <div class="wrapGrid">
        <div class="wrap_h4">
            <h4>Сообщество</h4>
        </div>
        <a href="*">Airbnb.org: жилье для пострадавших от бедствия</a>
        <a href="*">Борьба с дискриминацией</a>
    </div>
    <div class="wrapGrid">
        <div class="wrap_h4">
            <h4>Прием гостей</h4>
        </div>
        <a href="*">Сдайте жилье на Airbnb</a>
        <a href="*">AirCover для хозяев</a>
        <a href="*">Ресурсы для хозяев</a>
        <a href="*">Форум сообщества</a>
        <a href="*">Ответственный прием гостей</a>
    </div>
    <div class="wrapGrid">
        <div class="wrap_h4">
            <h4>Airbnb</h4>
        </div>
        <a href="*">Пресс-центр</a>
        <a href="*">Подробнее о новых функциях</a>
        <a href="*">Письмо от основателей Airbnb</a>
        <a href="*">Карьера в Airbnb</a>
        <a href="*">Для инвесторов</a>
        <a href="*">Подарочные карты</a>
    </div>
</div>

<!-- <div class="wrapGrid">
    <div class="wrap_h4">
        <h4></h4>
    </div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div> -->
