<!-- <style>
    .button {
        font-size: 1.35rem;
        text-decoration: none;
        color: white;
        background-color: red;
        padding: 10px 20px;
        border-radius: 7px;
    }
    @media (min-width: 0px) and (max-width: 750px) {
        .header_lowerPartContainer {
            width: 100%;
            background-color: yellow;
            padding: 0 40px;
            box-sizing: border-box;
        }
        .button {
            display: block;
            margin: 0;
        }
    }
</style>

<div class="header_lowerPartContainer">
    <div>
        <div class="button" href="*">Airbnb Старт</div>
    </div>
</div> -->

<!-- git commit -m  "header update and BEM update" -->
